  body {
      font-family: 'Roboto', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      line-height: 1.6;
    }
    header {
      background-color: #ece7e7;
      color: #fff;
      padding: 20px 0;
      text-align: center;
    }

  
    .banner {
    width: 100%; 
    top: 100px;
    
    
}
.banner img {
    width: 100%;  
}

.banner .slick-prev:before,
.banner .slick-next:before {
    font-size: 40px;
    color: #0c0c0c;
}

.banner .slick-prev {
  
    z-index: 1;
}

.banner .slick-dots {
    bottom: 25px;
}

.banner .slick-dots li {
    margin: 0 20px;
}
section{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.slick-dots li button:before {
    font-size: 25px;
    color: #413f3a;
    top: 33px;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #c9b648;
}

    .container {
      max-width: 960px;
      margin: auto;
      padding: 20px;
      background-color: white;
    }
    h1, h2 {
      color: #333;
    }
    pre {
      background: #eee;
      padding: 10px;
      overflow-x: auto;
    }

.social-links {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: center;
  gap: 40px; /* Espaçamento entre os itens */
  margin-bottom: 0px;
}

.social-links img {
  width: 50px; /* Ajuste o tamanho das imagens */
  height: auto; /* Mantém a proporção */
  transition: transform 0.5s ease-in-out; /* Efeito suave */  
}

.social-links img:hover {
  transform: scale(1.2); /* Aumenta 20% do tamanho original */
}
.redeSocial {
  margin: 50px;
}





    footer {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 10px;
      margin-top: 30px;
    }